<template name="_footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l4 s12 white-text center-align ">
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">

        <span>
          <a class="white-text" href="{{ pathFor 'siteNotice' }}" title="Impressum">Impressum</a> |
          <a class="white-text" href="{{ pathFor 'disclaimer' }}" title="Disclaimer">Disclaimer</a> |
          <a class="white-text" href="{{ pathFor 'privacy' }}" title="Datenschutzerklärung">Datenschutzerklärung</a>
        </span>
        <span class="right">
          &copy; 2015 Krischan Dickel
        </span>
      </div>
    </div>
  </footer>
</template>
